.navbar{
    display:flex;
    justify-content: space-between;
    background-color: white;
    color: grey;
    height: 70px;
    width: 100%
}


.log{
    padding: 5px;
}
.btn{
    padding: 20px;
}
.log button{
    border: 0px ;
    border-radius: 10px;
    color: grey;
    background-color: transparent;
}
.log img{
    border-radius: 50px;
    width: 60px;
    height: 60px;
}

.connexion{
    float :right;
}
.navigation{
    display:flex;
}
.items{
    padding: 15px;
    border-radius: 20px;
}

.items:hover{
    color:black;
}