.btn{
    float: left;
}

.img{
    border: 0px transparent;
    border-radius: 50px;
    width: 60px;
    height: 60px;
    float: right;
}



.btn button:hover{
    color: black;
}

.login{
    padding: 10px;
}

.login button:hover{
    color:black;
}